.price-card {
  border: 2px solid var(--servex-green) !important;
  background-color: var(--servex-light-green-bg) !important;
  border-radius: 1rem;
}

.price-display {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--servex-green);
}

.one-time-fee {
    color: var(--servex-green-darker);
}