.info-sidebar {
  padding: 1.5rem !important;
  background-color: white;
}

.info-sidebar .nav-link {
  padding: 0.5rem 1rem;
  color: var(--servex-dark-text);
  font-weight: 500;
  border-radius: 0.5rem;
  margin-bottom: 0.25rem;
  font-size: 15px;
}

.info-sidebar .nav-link.active {
  background-color: var(--servex-light-green-bg);
  color: var(--servex-green);
}