.form-field {
  margin-bottom: 1.25rem;
}

.form-field label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--servex-dark-text);
}

.input-wrapper {
  position: relative;
}

.input-wrapper .form-control,
.input-wrapper .form-select {
  flex-grow: 1;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--servex-muted-text);
}

.input-icon-left {
  left: 1rem;
  pointer-events: none;
}

.input-icon-right {
  right: 1rem;
  cursor: pointer;
}

.input-with-icon-left {
  padding-left: 2.75rem !important;
}

.input-with-icon-right {
  padding-right: 2.75rem !important;
}

.input-wrapper input,
.input-wrapper select {
    background-color: var(--servex-light-gray-bg);
    border: 1px solid var(--servex-light-gray-disabled);
}