.notification-wrapper {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  color: white;
  font-weight: 500;
}

.notification-wrapper.success {
  border: 1px solid var(--servex-green);
  background-color: var(--servex-light-green-bg); 
  color: var(--servex-green);
}

.notification-wrapper.error {
  border: 1px solid var(--servex-red);
  background-color: var(--servex-light-red);
  color: var(--servex-red);
}

.notification-wrapper.info {
  border: 1px solid var(--servex-blue);
  background-color: var(--servex-light-blue);
  color: var(--servex-blue);
}